<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input
        matInput
        type="text"
        name= "title"
        required
        minlength="3"
        #title=ngModel
        placeholder = "Judul Post"
        ngModel>
        <mat-error *ngIf="title.invalid">Silahkan masukkan judul post!.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        rows="4"
        name="content"
        ngModel
        #content=ngModel
        placeholder = "Isi Post"
        required>
      </textarea>
      <mat-error *ngIf="content.invalid">Silahkan masukkan isi post!.</mat-error>
    </mat-form-field>
      <button
        mat-raised-button
        color ="primary"
        type="submit">Simpan Post</button>
  </form>
</mat-card>
